
<%= partial("temp/header.html") %>




    <div class="container">
    <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">.
  


  <div class="card" style="width: 18rem;">
  <img src="assets/images/me2.jpg" style="border-radius: 15px;box-shadow: #0000006e 1px 1px 1px 1px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Zachary sdfaEndrulat</h5>
    <p class="card-text">Web Developer and lover of Abraham Lincoln books.</p>
    <a href="https://gitlab.com/zendrulat123/fiber" class="btn btn-primary rounded-pill bg-dark"><i class="fab fa-github"></i></a>
  </div>
</div>



  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">..d.</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
      
    </div>
  
    <script type="text/javascript">
    //https://stackoverflow.com/questions/40742538/clearing-webpack-cache
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onload = function () {
        init(); // call other scripts when this file is fully loaded
    };
    script.src = '/public/assets/bundle.js?v='+Date.now();

    document.getElementsByTagName('body')[0].appendChild(script);
</script>

<script>
    function init(argument) {
        // other scripts
        console.log('dist/bundle.js is loaded from the server not from the cache')
    }
</script>

	<!-- <script defer src='/public/assets/bundle.js'></script> -->


    <%= partial("temp/footer.html") %>
   

